<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!--主页面-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!--两个东西不能放一起 -->
            <intent-filter>
                <!--todo remember to change to yourself-->
                <data android:scheme="kaoyaya" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>


        <!--<activity android:name=".SplashAct">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->

        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".IntentParseActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value=".MainActivity" />-->

        <!--<intent-filter>-->
        <!--&lt;!&ndash;todo remember to change to yourself&ndash;&gt;-->
        <!--<data android:scheme="kaoyaya" />-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
